N8N projects/db-relation-n8n/workflows/Get All Students.json
{
  "name": "Get All Students",
  "nodes": [
    {
      "parameters": {
        "path": "get-all-students",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -16
      ],
      "id": "358a32f7-6b99-424b-be49-a5b56a0bab43",
      "name": "Webhook",
      "webhookId": "ca251d46-6357-45d9-92d5-5947fd402736"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id, s.name, s.email, \n       sp.phone, sp.address, sp.dob\nFROM students s\nLEFT JOIN student_profiles sp ON sp.student_id = s.id\nORDER BY s.id DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        -16
      ],
      "id": "53066c7b-c8d9-4d43-bec7-881c3eb13b08",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "xopDcLgDDyNTI1hT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -16
      ],
      "id": "de3c7429-66f3-4c32-9f09-7a66c095d7aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        -16
      ],
      "id": "3887a1cb-4905-4e67-8162-1ae8865557f9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7c8e570b-b597-411f-9747-008416076e5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49e166b41ceeed1c1781ab1bff88bd5bcfd5a7a43813c705c5a676183e48cd34"
  },
  "id": "hwplaR0UWlonjLRj",
  "tags": []
}