N8N projects/db-relation-n8n/workflows/N8N Fetch Enrollments.json
{
  "name": "N8N Fetch Enrollments",
  "nodes": [
    {
      "parameters": {
        "path": "get-enrollments",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        0
      ],
      "id": "d7eff4e4-8ee4-48a9-a5fb-e0e234fe4ee3",
      "name": "Webhook",
      "webhookId": "b7536df2-103f-48a1-ac8e-a5c69204cdf3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id as student_id, s.name as student_name,\n       c.id as course_id, c.course_name, c.credits,\n       t.name as teacher_name,\n       e.enrolled_at\nFROM enrollments e\nJOIN students s ON s.id = e.student_id\nJOIN courses c ON c.id = e.course_id\nJOIN teachers t ON t.id = c.teacher_id\nWHERE e.student_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.query.student_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        0
      ],
      "id": "1980298f-ba83-47b5-9f2a-562e5f2b9789",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "xopDcLgDDyNTI1hT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        0
      ],
      "id": "bbe1d3db-89e3-45d3-8d0d-bf4d1fe43f33",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "d9a7de41-0a4b-42e6-b2ea-05f8237624e1",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "631ac30c-3eec-44eb-8978-0411ae6632a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49e166b41ceeed1c1781ab1bff88bd5bcfd5a7a43813c705c5a676183e48cd34"
  },
  "id": "ybe5dRdetOR6UZk9",
  "tags": []
}